{% extends "task/base.html"%}

{% block content %}

<div class="alert alert-danger" role="alert">
    {{error}}
</div>

<div class="form2">
    <h2 style="color:#800000;">Sign Up</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text" autocomplete="off" name="username" id="username" placeholder="Enter Username"aria-describedby="usernameHelp"><br><br>

        <label for="password1">Password</label><br>
        <input type="password" name="password1" id="password1" placeholder="Enter Password" /><br><br>

        <label for="password2">Confirm Password</label><br>
        <input type="password" name="password2" id="password2" placeholder="Enter Password Again" /><br><br>

        <input type="submit" class="btn btn-outline-danger" value="Sign Up" /><br><br>

        <p>Have an account <a style="color:#800000;" href="{% url 'loginuser' %}">Login</a></p>
    </form>


</div>


{% endblock %}